*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}

.hero-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin: 0px 300px;
    padding: 100px 0px 100px 0px;
}

.hero-text h1{
    font-size: 50px;
}

.hero-text p{
    text-align: justify;
}

.hero-img img{
    border-radius: 10px;
    width: 500px;
}

.objective-container{
    justify-content: space-around;
    text-align: center;
    padding: 0px 300px 100px 300px;
}

.objective-container h1{
    font-size: 50px;
}

.education-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 300px;
    gap: 200px;
    padding: 0px 0px 100px 0px;
}

.education-text h1{
    font-size: 50px;
}

.education-detail{
    width: 1200px;
}

.skill-container{
    text-align: center;
}

.skill-container h1{
    font-size: 50px;
}

.list-skill-item{
    display: flex;
    justify-content: space-around;
    margin: 0px 300px;
    padding: 0px 0px 100px 0px;
    gap: 200px;
    text-align: center;
}

.list-skill-item ul{
    text-align: justify;
}

.experience-container{
    text-align: center;
}

.experience-container h1{
    font-size: 50px;
}

.experience-detail-info ul li{
    line-height: 2;
}

.list-experience-container{
    display: flex;
    justify-content: center;
}

.list-experience-item{
    display: flex;
    justify-content: center;
    margin: 0px 300px;
    padding: 0px 0px 100px 0px;
    gap: 200px;
    width: 500px;
}

.experience-detail{
    
}

.company-img img{
    width: 350px;
    height: 100px;
}

.contact-container{
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 50px 0px;
    gap: 200px;
    text-align: center;
    line-height: 2;
}

.contact-text{
    text-align: justify;
}

.contact-text h1{
    font-size: 50px;
}

.contact-text ul li{
    font-size: 20px;
}